<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>kyungw00k.alfred.kozip</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>19ED8885-3B00-4D84-AF8C-CB9C88405BCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D9AFC37-23D9-4C6B-ACA4-0A7D7D4AF53A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF97BCF9-6E35-4CE3-8B91-3D286030DF01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>42A12D4B-E202-4ABE-AB65-E7609559B214</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2368B85E-0914-488C-81DE-8A83D146A3AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>787336F7-B6D9-4EF8-8CC7-14983BF876FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D9AFC37-23D9-4C6B-ACA4-0A7D7D4AF53A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF97BCF9-6E35-4CE3-8B91-3D286030DF01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E066B648-7305-4BD0-B684-0FC07BF13083</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D9AFC37-23D9-4C6B-ACA4-0A7D7D4AF53A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF97BCF9-6E35-4CE3-8B91-3D286030DF01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E85C60CA-F3AA-48F9-9EF6-B4CE0B03F501</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42A12D4B-E202-4ABE-AB65-E7609559B214</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>지도에서 보기</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>19ED8885-3B00-4D84-AF8C-CB9C88405BCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F887588E-C88C-4C51-A7D1-8AA719D770F7</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>787336F7-B6D9-4EF8-8CC7-14983BF876FF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E066B648-7305-4BD0-B684-0FC07BF13083</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F887588E-C88C-4C51-A7D1-8AA719D770F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D9AFC37-23D9-4C6B-ACA4-0A7D7D4AF53A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF97BCF9-6E35-4CE3-8B91-3D286030DF01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kyungwook Park(@kyungw00k)</string>
	<key>description</key>
	<string>Postcodify를 이용해 도로명주소 검색하기</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>KoZip</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>var item = {query};
var address = `${item.ko_common} ${item.ko_doro} ${item.building_name ? '(' + item.building_name + ')' : ''}`
var url = `http://map.daum.net/?q=${encodeURIComponent(address)}`

url</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>42A12D4B-E202-4ABE-AB65-E7609559B214</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>URL="{query}"

open $URL</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>2368B85E-0914-488C-81DE-8A83D146A3AE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6D9AFC37-23D9-4C6B-ACA4-0A7D7D4AF53A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>var i = JSON.parse('{query}')

var addr = `${i.ko_common} ${i.ko_doro} ${i.building_name ? '(' + i.building_name + ')' : ''} ${i.postcode5}`

addr</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>19ED8885-3B00-4D84-AF8C-CB9C88405BCC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>kz</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>검색중입니다</string>
				<key>script</key>
				<string>//
// Emulating npm's require()
// (https://github.com/dtinth/JXA-Cookbook/wiki/Importing-Scripts)
//

ObjC.import('Foundation');
var fm = $.NSFileManager.defaultManager;
var require = function (path) {
  var contents = fm.contentsAtPath(path.toString()); // NSData
  contents = $.NSString.alloc.initWithDataEncoding(contents, $.NSUTF8StringEncoding);

  var module = {exports: {}};
  var exports = module.exports;
  eval(ObjC.unwrap(contents));

  return module.exports;
};

//
// Use unorm for `String.prototype.normalize` polyfill
// (https://github.com/walling/unorm/issues/6)
//

require('./unorm.js')

var daumPostCode = require('./postcode.js')

daumPostCode("{query}")</string>
				<key>subtext</key>
				<string>건물번호, 번지를 함께 입력하시면 더욱 정확한 결과가 검색됩니다. 예) 판교역로 235</string>
				<key>title</key>
				<string>도로명이나 지역명을 이용해서 검색해 보세요.</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E85C60CA-F3AA-48F9-9EF6-B4CE0B03F501</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>주소를 클립보드에 복사했습니다.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DF97BCF9-6E35-4CE3-8B91-3D286030DF01</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>var i = JSON.parse('{query}')
var addr = `${i.ko_common} ${i.ko_jibeon} ${i.building_name} ${i.postcode6.replace(/(\d\d\d)(\d\d\d)/, '$1-$2')}`

addr</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F887588E-C88C-4C51-A7D1-8AA719D770F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>var i = JSON.parse('{query}')
var addr = `${i.en_doro} ${i.en_common} ${i.postcode5}`

addr</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>787336F7-B6D9-4EF8-8CC7-14983BF876FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>var i = JSON.parse('{query}')
var addr = `${i.en_jibeon} ${i.en_common} ${i.postcode6.replace(/(\d\d\d)(\d\d\d)/, '$1-$2')}`

addr</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E066B648-7305-4BD0-B684-0FC07BF13083</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>19ED8885-3B00-4D84-AF8C-CB9C88405BCC</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>2368B85E-0914-488C-81DE-8A83D146A3AE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>42A12D4B-E202-4ABE-AB65-E7609559B214</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6D9AFC37-23D9-4C6B-ACA4-0A7D7D4AF53A</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>787336F7-B6D9-4EF8-8CC7-14983BF876FF</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>DF97BCF9-6E35-4CE3-8B91-3D286030DF01</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>E066B648-7305-4BD0-B684-0FC07BF13083</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>E85C60CA-F3AA-48F9-9EF6-B4CE0B03F501</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>F887588E-C88C-4C51-A7D1-8AA719D770F7</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
